section#contact
	.grid.grid--center
		.col-2
			h2.section-title Contact Me
	.grid.grid--center
		.col-1
			.buttons
				a(href="http://twitter.com/spongybacon").cta
					.cta
						span.fa.fa-twitter
						p.name Twitter
				
				a(href="https://github.com/sponges").cta
					.cta
						span.fa.fa-github
						p.name GitHub
		.col-1
			.buttons
				a(href="skype:joepwnsall1?userinfo").cta
					.cta
						span.fa.fa-skype
						p.name Skype
	
				a(href="mailto:spongybacon@hotmail.co.uk").cta
					.cta
						span.fa.fa-envelope
						p.name Mail