section.hero
	
	h2.headline You got some water dripping... Let me help you.
	
	p.lead Im sexy and i know it. im also fluffy and i know it. i sell potatopower. buy from me only. Legit seller.
	
	span.cta
		a(href="#projects") See More