section#projects
	.grid.grid--center
		.col-2
			h2.section-title Some GitHub Projects
	.grid.grid--center
		.col-1
			.projects
				.gh-project
					a(href="").project-title Loading title...
					p.description Loading description...
					.gh-info
						p.update Updated on...
						.gh-icons
							span.stars  stars
								span.fa.fa-star
							span.forks  forks
								span.fa.fa-code-fork
					
				.gh-project
					a(href="").project-title Loading title...
					p.description Loading description...
					.gh-info
						p.update Updated on...
						.gh-icons
							span.stars  stars
								span.fa.fa-star
							span.forks  forks
								span.fa.fa-code-fork				
		.col-1
			.projects
				.gh-project
					a(href="").project-title Loading title...
					p.description Loading description...
					.gh-info
						p.update Updated on... 
						.gh-icons
							span.stars  stars
								span.fa.fa-star
							span.forks  forks
								span.fa.fa-code-fork
				.gh-project
					a(href="").project-title Loading title...
					p.description Loading description...
					.gh-info
						p.update Updated on...
						.gh-icons
							span.stars  stars
								span.fa.fa-star
							span.forks  forks
								span.fa.fa-code-fork
					
	
	.grid.grid--center
		.col-2
			span.cta
				a(href="https://github.com/sponges") See More