section#projects
	.grid.grid--center
		.col-2
			h2.section-title Top GitHub Projects
	.grid.grid--center
		.col-1
			.projects
				.gh-project
					a(href="https://github.com/Sponges/iNaBated").project-title iNaBated
					p.description Revamped plugin for InAbate DDoS protection.
					.gh-info
						p.update Updated 17 days ago
						.gh-icons
							span.stars 2 stars
								span.fa.fa-star
							span.forks 8 forks
								span.fa.fa-code-fork
				.gh-project
					a(href="https://github.com/Sponges/DubTrack4J").project-title DubTrack4J
					p.description A Java API for Dubtrack.
					.gh-info
						p.update Updated on Nov 1, 2015
						.gh-icons
							span.stars 0 stars
								span.fa.fa-star
							span.forks 2 forks
								span.fa.fa-code-fork
				
		.col-1
			.projects
				.gh-project
					a(href="https://github.com/Sponges/StrawpollBot").project-title StrawpollBot
					p.description Revamped plugin for InAbate DDoS protection.
					.gh-info
						p.update Updated on Dec 6, 2015
						.gh-icons
							span.stars 0 stars
								span.fa.fa-star
							span.forks 1 forks
								span.fa.fa-code-fork
				.gh-project
					a(href="https://github.com/Sponges/HTTPUtils").project-title HTTPUtils
					p.description Util classes to simplify Java HTTP requests.
					.gh-info
						p.update Updated on Oct 4, 2015
						.gh-icons
							span.stars 0 stars
								span.fa.fa-star
							span.forks 1 forks
								span.fa.fa-code-fork
	
	.grid.grid--center
		.col-2
			span.cta
				a(href="https://github.com/sponges") See More