.modal-overlay#bukkit

	.modal
		h1.title Bukkit
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.close.cta
			a(href="#close").close Close Me
			
.modal-overlay#discourse

	.modal
		h1.title discourse
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.close.cta
			a(href="#close").close Close Me
			
.modal-overlay#slack

	.modal
		h1.title slack
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.close.cta
			a(href="#close").close Close Me
			
.modal-overlay#web

	.modal
		h1.title web
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.close.cta
			a(href="#close").close Close Me
			
.modal-overlay#java

	.modal
		h1.title java
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.cta
			a(href="#close").close Close Me
			
.modal-overlay#skype

	.modal
		h1.title skype
		p.description I am an experienced Bukkit Plugin Developer. You can count on my skills. Order your custom plugins right now.
		
		span.close.cta
			a(href="#close").close Close Me
			


section.services
	.services-content
		.titles
			.grid.grid--center
				.col-2
					h2.section-title Services 
					
		.buttons
			a(href="#bukkit").open.cta
				.content
					span.fa.fa-bitbucket.icon
					p.cap Bukkit
			a(href="#discourse").open.cta
				.content
					span.fa.fa-weixin.icon
					p.cap Discourse Bots
			a(href="#slack").open.cta
				.content
					span.fa.fa-slack.icon
					p.cap Slack Bots
			a(href="#web").open.cta
				.content
					span.fa.fa-file-code-o.icon
					p.cap Web Bots
			a(href="#java").open.cta
				.content
					span.fa.fa-coffee.icon
					p.cap Java
			a(href="#skype").open.cta
				.content
					span.fa.fa-skype.icon
					p.cap Skype Bots
